body{
    background-color: beige;
}
.form-container{
    position: relative;
    top: 150px;
    left: 40%;
    background-color: white;
    width: 400px;
    height: 400px;
    padding-top: 25px;
}
.sub-containers{
    position: relative;
    left: 50px;
}
label{
    font-size: 1.4rem;
}
input{
    width: 280px;
    height: 30px;
    background-color: rgba(143, 143, 143, 0.477);
}
button{
    font-size: 1.2rem;
    position: relative;
    left: 150px;
}
p{
    color: red;
    font-size: 0.7rem;
}
.success{
    position: relative;
    left: 50px;
    font-size: 1.4rem;
}